<nav>
  <div class="row" id="navbar">
    <div class="nav-wrapper">
      <a href='/' id="navlogo"><%= image_tag("homeologo.svg", class: 'homeo')%></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_renter %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><a href="/renter/<%= current_renter.id %>">Signed in as <%= current_renter.email %></a></li>
            <li><%= link_to "Logout", '/renterlogout', :class=>"navlink" %></li>
          <% else %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><%= link_to 'Owner Login', '/ownerlogin' , :class=>"navlink" %></li>
            <li><%= link_to 'Owner Signup', '/owners/signup', :class=>"navlink" %></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Login</h1>

  <%= form_tag '/renterlogin' do %>
    Email: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %>
   <%= submit_tag "Submit" %>
  <% end %>
</div>
