<div class="container">
  <%= form_for @renter, url: {action: 'update'} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: @renter.name %>
      <br><br>
    <%= f.label :description %>
    <%= f.text_field :description, value: @renter.description %>
      <br><br>
    <%= f.label :has_pets %>
    <%= f.check_box :has_pets %>
      <br>


    <%= f.submit %>
  <% end %>
  <%= link_to 'cancel', "/renter/@renter['id']" %>

</div>
