<nav>
  <div class="row" id="navbar">
    <div class="nav-wrapper">
      <a href='/' id="navlogo"><%= image_tag("homeologo.svg", class: 'homeo')%></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_renter %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><a href="/renters/<%= current_renter.id %>">Signed in as <%= current_renter.email %></a></li>
            <li><%= link_to "Logout", '/renterlogout', :class=>"navlink" %></li>
          <% else %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><%= link_to 'Login', '/renterlogin' , :class=>"navlink" %></li>
            <li><%= link_to 'Signup', '/renter/signup', :class=>"navlink" %></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>

<div class="container">


 <div class="profile-page">
    <div class="section center-align">
        <p class="profile-name"><%= @renter.name %></p>
    </div>

    <div class="row profile-main">
      <div class="col s4 offset-s1 profile-video">
        <% if @renter.video_url == nil %>
          <p>No profile video created. Edit your account to add one!</p>
        <% else %>
        <ziggeo ziggeo-video=<%= @renter.video_url %>
                ziggeo-width=320
                ziggeo-height=240>
        </ziggeo>
        <% end %>
      </div>

      <div class="col s5 offset-s1 profile-info">
        <p><b>Email:</b> <%= @renter.email %></p>
        <% if @renter.description == nil %>
          <p><b>About <%= @renter.name %>:</b> No description created. Edit your profile to add one!</p>
        <% else %>
          <p><b>About <%= @renter.name %>:</b> <%= @renter.description %></p>
        <% end %>

        <% if @renter.has_pets == true %>
          <p><b>Pets:</b> Yes</p>
        <% else %>
          <p><b>Pets:</b> No</p>
        <% end %>

      </div>
    </div>
    </div>
    <br><br>
    <div class="center-align">
      <%= link_to "Back to Available Rooms", rooms_path, :id=>'whitebutton' %>
    </div>


<% if current_renter && current_renter.email == @renter.email %>
    <div class="row" id="allapts">
      <br><br><br><br>
        <h3 class="center-align">Rooms You've Liked</h3>
          <br><br>
        <% if @room_ids == "" || @room_ids == 'undefined' %>
          <div>
            <h4><%"You haven't liked any rooms yet"%></h4>
          </div>
        <% else %>
          <% @room_ids.each do |id| %>
            <% room = Room.find(id) %>
            <div class="col s4">
              <div class="card small">
                <div class="card-image">
                  <img class="activator" src="<%=room['thumbnail_url']%>">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id="roomcardtitle"><%= room['title'] %></span>
                  <p id="roomcards">$<%=room['price']%></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><a href="/rooms/<%= room['id'] %>"><%= room['title'] %></a></span>
                  <p id="roomcards">$<%= room['price'] %> per month</p>
                  <p id="roomcards"><%= room['borough'] %></p>
                  <p id="roomcards"><%= room['description'] %></p>
                  <i class="card-title activator" id="closelink">close</i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>

<div class="center-align">
  <%= link_to 'Edit Profile', edit_renter_path(@renter), :id=>'whitebutton' %>
</div>

<br><br><br><br>
<div class="center-align">
  <%= link_to 'Delete Account', @renter, method: :delete, :id=>'whitebutton' %>
</div>
  <br><br><br><br>
<% end %>


