<nav class="nav">
    <% if current_renter %>
       Signed in as <a href="/renters/<%= current_renter.id %>"><%= current_renter.email %></a>
       <%= link_to "Logout", '/renterlogout', :class=>"navlink" %>
    <% else %>
       <%= link_to 'Login', '/renterlogin' %>
       <%= link_to 'Signup', 'renters/signup', :class=>"navlink" %>
    <% end %>
     <a href="/" class="navlink">Home</a>
 </nav>

<div class="container">
<br>
<h2><%= @renter.name.capitalize %></h2>
<br>
<h4><%= @renter.created_at.strftime("Member Since %B %d, %Y") %></h4>
<ziggeo ziggeo-video=<%= @renter.video_url %>
          ziggeo-width=320
          ziggeo-height=240>
</ziggeo>
<br>
<h4><%= @renter.description %></h4>
  <br>
  <% if @renter.has_pets == true %>
    <%= "I've got a pet!" %>
  <% else %>
    <%= "No pets here!"%>
  <br><br>
  <%= link_to 'back', rooms_path %>
  <% end %>


<br><br>
<% if current_renter && current_renter.email == @renter.email %>

  <%= link_to 'edit', edit_renter_path(@renter) %>
  <%= link_to 'delete', @renter, method: :delete %>
<% end %>
</div>
