<<<<<<< HEAD


=======
<div class="container">
>>>>>>> e6651ac98559cdb2221f587ebb92e6b735474b93
<%= form_for @owner, url: {action: 'create'} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br /><br />

    <%= f.label :email %>
    <%= f.text_field :email %>
    <br /><br />

    <%= f.label :password %>
    <%= f.text_field :password %>
    <br /><br />

    <%= f.submit %>
  <% end %>

<p><%= link_to 'cancel', "/" %></p>
<br>
<br>
<%= link_to 'Already have an account? Log in', "/ownerlogin" %></p>
</div>
