<%= form_for @owner, url: {action: 'create'} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br /><br />

    <%= f.label :email %>
    <%= f.text_field :email %>
    <br /><br />

    <%= f.label :password %>
    <%= f.text_field :password %>
    <br /><br />

    <input name="user_type" type:"checkbox"

<%= f.label :video_url %>
    <%= f.text_field :video_url %>
    <br /><br />

    <%= f.label :description %>
    <%= f.text_area :description %>
    <br /><br />

    <%= f.label :has_pets %>
    <%= f.text_field :has_pets %>
    <br /><br />

    <%= f.submit %>
  <% end %>

<p><%= link_to 'cancel', owners_path %></p>
