
<nav>
  <div class="row" id="navbar">
  <div class="nav-wrapper">
        <h2 class="col s2 white-text" id="navlogo"><a href='/'><%= image_tag("homeologo.svg", class:"homeo")%>   Homeo</a></h2>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_owner %>
          <li><a href="/" class="navlink">Home</a></li>
          <li><a href="/owners/<%= current_owner.id %>">Signed in as <%= current_owner.email %></a></li>
          <li><%= link_to "Logout", '/renterlogout', :class=>"navlink" %></li>
        <% else %>
          <li><a href="/" class="navlink">Home</a></li>
          <li><%= link_to 'Login', '/ownerlogin' , :class=>"navlink" %></li>
          <li><%= link_to 'Signup', '/owners/signup', :class=>"navlink" %></li>
        <% end %>
      </ul>
  </div>
  </div>
</nav>
<div class="container">

    <div class="row">
        <div class="col s8 offset-s2">
            <h2 class="center-align">Sign Up to Get Started</h2>
            <%= form_for @owner, url: {action: 'create'} do |f| %>
            <div class="input-field">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                    <br /><br />
            </div>
            <div class="input-field">
                    <%= f.label :email %>
                    <%= f.text_field :email %>
                    <br /><br />
            </div>
            <div class="input-field">
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                    <br /><br />
            </div>
            <div class="input-field">
                    <%= f.submit "Sign Up", :class =>'signup'%>
            </div>
                    <% end %>
            <p class="center-align"><%= link_to 'cancel', "/" %></p>
                <br>


            <p class="center-align">
                <%= link_to 'Already have an account? Log in', "/ownerlogin" %></p>

        </div>
    </div>
</div>

</body>
