<nav class="nav">
    <% if current_owner %>
       Signed in as <%= current_owner.email %> |
       <%= link_to "Logout", '/ownerlogout', :class=>"navlink" %> |
    <% else %>
       <%= link_to 'Login', '/ownerlogin' %>
       <%= link_to 'Signup', 'owners/signup', :class=>"navlink" %>
    <% end %>
     <a href="/" class="navlink">Home</a>
</nav>


<div class="container">

    <br><br>
  <h3><%= @owner.name %></h3>
  <h4>Email: <%= @owner.email %></h4>
  <h4>Description: <%= @owner.description %></h4>
  <h4>Has pets?: <%= @owner.has_pets %></h4>
  <h4>Video: <%= @owner.video_url %></h4>
  <h5><%= link_to 'Add New Room to Rent', new_room_path %></h5>

  <br />
  <h5><%= link_to 'back', owners_path %></h5>

  <h5><%= link_to 'edit', edit_owner_path(@owner) %></h5>

  <h5><%= link_to 'delete', @owner, method: :delete %></h5>
</div>

