<nav>
  <div class="row" id="navbar">
    <div class="nav-wrapper">
      <a href='/' id="navlogo"><%= image_tag("homeologo.svg", class: 'homeo')%></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_renter %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><a href="/renters/<%= current_renter.id %>">Signed in as <%= current_renter.email %></a></li>
            <li><%= link_to "Logout", '/renterlogout', :class=>"navlink" %></li>
          <% else %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><%= link_to 'Login', '/renterlogin' , :class=>"navlink" %></li>
            <li><%= link_to 'Signup', '/renters/signup', :class=>"navlink" %></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>

  <div class="row">
    <h3 id="rooms-index-title" class="center-align"> Find Your New Home </h3>
        <div class="input-field col s6 offset-s3">
          <form class="center-align" method="get">
              <select id="borough" name="borough" multiple>
                <option value="All">All</option>
                <option value="Manhattan">Manhattan</option>
                <option value="Brooklyn">Brooklyn</option>
                <option value="Queens">Queens</option>
                <option value="Staten Island">Staten Island</option>
                <option value="Bronx">The Bronx</option>
              </select>
            <label class="formlabel" for="borough">Choose a Borough</label>
          </form>
      </div>
    </div>
  </div>

<div class="row" id="allapts">
  <h4 id="available-rooms-title" class="center-align">Available Rooms</h4>
  <div id="rooms-test">

  </div>
</div>

