<nav>
  <div class="row" id="navbar">
  <div class="nav-wrapper">
        <h2 class="col s2 white-text" id="navlogo"><a href='/'><%= image_tag("homeologo.svg", class:"homeo")%>   Homeo</a></h2>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_owner %>
          <li><a href="/" class="navlink">Home</a></li>
          <li><a href="/owners/<%= current_owner.id %>">Signed in as <%= current_owner.email %></a></li>
          <li><%= link_to "Logout", '/renterlogout', :class=>"navlink" %></li>
        <% else %>
          <li><a href="/" class="navlink">Home</a></li>
          <li><%= link_to 'Login', '/ownerlogin' , :class=>"navlink" %></li>
          <li><%= link_to 'Signup', '/owners/signup', :class=>"navlink" %></li>
        <% end %>
      </ul>
  </div>
  </div>
</nav>
<div class="container">
 <h1>Add a room</h1>

<!-- <script>
  ZiggeoApi.Videos.index({}, {
        success: function (args, videos) {
            videos.forEach(function (video) {
                $("#reaction_wall").append("<ziggeo id='reaction' ziggeo-width='360' ziggeo-height='270' ziggeo-video='" + video.token + "'></ziggeo>");
            });
            if ($('#reaction_wall').html() == ''){
                  $("#reaction_wall").append("<p>No videos posted yet</p>")
                }
        }
    });
</script> -->

<button id="record">Record a Video of your Room</button>

<div id='recorder'>
</div>

<script>
  $("#record").on("click", function () {
      console.log("button works")
      $("#record").hide();
      $("#recorder").show();
      ZiggeoApi.Embed.embed('#recorder', {
          width: 450,
          height: 280,
          limit: 120
      });
  });
</script>

<div id="reaction_wall">
</div>

<script>
  ZiggeoApi.Events.on("submitted", function (data) {
      var token = data.video.token
      var image_url = ZiggeoApi.Videos.image(token);
      $("#thumbnail").val(image_url);
      $("#video_token").val(token)
      $("#reaction_wall").append("<ziggeo id='reaction' ziggeo-width='360' ziggeo-height='270' ziggeo-video='" + data.video.token + "'></ziggeo>");
      $("#recorder").hide();
      $("#record").show();
  });
</script>









<%= form_for @room, url: {action: 'create'} do |f| %>



  <%= f.label :title, :autofocus => "autofocus"  %>
  <br>
  <%= f.text_field :title %>
  <br>
  <%= f.label :address %>
  <br>
  <%= f.text_field :address %>
  <br>
  <%= f.label :borough %>
  <br>
  <%= f.text_field :borough %>
  <br>
  <%= f.label :neighborhood %>
  <br>
  <%= f.text_field :neighborhood  %>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_field :description %>
  <br>
  <%= f.label :price %>
  <br>
  <%= f.text_field :price %>
  <br>
  <%= f.label :pets_allowed %>
  <%= f.check_box :pets_allowed %>
  <br>
  <%= f.label :available %>
  <%= f.check_box :available %>
  <br>

  <%= f.text_field :thumbnail_url, :id=>'thumbnail', :value => '', :type => 'hidden' %>
  <%= f.text_field :video_url, :id=>'video_token', :value => '', :type => 'hidden' %>
  <%= f.text_field :user_id, :value=>current_owner.id, :type => 'hidden' %>
  <br>

 <%= f.submit "Add a Room" %>
<% end %>



</div>



<!-- <img id="thumbnail" src=""> -->

