<nav>
  <div class="row" id="navbar">
    <div class="nav-wrapper">
      <a href='/' id="navlogo"><%= image_tag("homeologo.svg", class: 'homeo')%></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_owner %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><a href="/owners/<%= current_owner.id %>">Signed in as <%= current_owner.email %></a></li>
            <li><%= link_to "Logout", '/renterlogout', :class=>"navlink" %></li>
          <% else %>
            <li><a href="/" class="navlink">Home</a></li>
            <li><%= link_to 'Login', '/ownerlogin' , :class=>"navlink" %></li>
            <li><%= link_to 'Signup', '/owners/signup', :class=>"navlink" %></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>
  <div class="row">
  <div class="center-align">
    <div class="roomshowcontent">
    <h2><%= @room.title %></h2><br><br><br>
        <ziggeo ziggeo-video=<%= @room.video_url %>
                ziggeo-width=900
                ziggeo-height=506>
        </ziggeo>

      <div class="row" id="roomshowcards">
        <div class=" center-align">
          <span class="title">$<%= @room.price %> per month</span>
          <p>Located in <%= @room.neighborhood %>, <%=@room.borough%>
          <br>
            <%= @room.address %>
            <br>
            <%= @room.description %>
          </p>
          <% if @room.pets_allowed == true %>
            <p class="card-content">Pets allowed: Yes</p>
          <% else %>
            <p class="card-content">Pets allowed: No</p>
          <% end %>
          <% if @room.available == true %><br>
            <p class="card-content">Room available: Yes</p>
          <% else %>
            <p class="card-content">Room available: No</p>
          <% end %>
        </div>
      </div>
    </div>

  <% if current_renter %>
         <%= form_for @room, url: {action: 'update'} do |f| %>
             <%= f.text_field :renter_ids, :value=>@room['renter_ids'], :type=>'hidden'%><br><br>
             <%= f.text_field :room_id, :value=>@room['id'], :type=>'hidden' %>
             <%= f.submit "Like this Room", :id=>'likebutton'%>
           <% end %>
  <% end %>
  <br><br><br>


<% if current_owner && current_owner.id == @room['user_id'] %>

<div class="row" id="allapts">
    <br><br><br><br>
  <h3 class="center-align">People Who Are Interested In This Room</h3>
  <br><br>

  <% if @renter_ids == "" %>
    <%"No one is interested yet"%>
  <% else %>
    <% @renter_ids.each do |id| %>
      <% renter = Renter.find(id) %>
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img class="activator" src="<%= renter['thumbnail_url'] %>">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4" id="roomcardtitle"><%= renter['name'] %></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><a href="/renters/<%=renter['id']%>"><%= renter['name'] %></a></span>
                <p id="roomcards"><%= renter['description'] %></p>
                <i class="card-title activator" id="closelink">close</i>
            </div>
          </div>
        </div>


      <% end %>
    <% end %>
  </div>
<% end %>
  <%= link_to 'Edit Room', edit_room_path(@room), :id=>'whitebutton' %>
    <br><br>
    <br><br>
  <%= link_to 'Back', :back, :id=>'whitebutton'%>
    <br><br><br><br>


















