<h2><%= @room.title %></h2><br>
<hr>

<% @room.video_url = @room.video_url.split('=')[1] %>

  <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= @room.video_url %>" frameborder="0" allowfullscreen></iframe>

<p>
  <%= @room.borough %><br>
  <%= @room.neighborhood %><br>
  <%= @room.address %><br>
  <%= @room.description %><br>
  $ <%= @room.price %><br>
  <% if @room.pets_allowed == true %>
  Pets allowed: Yes
  <% else %>
  Pets allowed: No
  <% end %>
  <% if @room.available == true %><br>
  Room available: Yes
  <% else %>
  Room available: No
  <% end %>
</p>




