
<nav class="nav">
    <% if current_renter %>
       Signed in as <a href="/renters/<%= current_renter.id %>"><%= current_renter.email %></a>
       <%= link_to "Logout", '/renterlogout', :class=>"navlink" %>
    <% else %>
       <%= link_to 'Login', '/renterlogin' %>
       <%= link_to 'Signup', 'renters/signup', :class=>"navlink" %>
    <% end %>
     <a href="/" class="navlink">Home</a>

 </nav>


<div class="container">
<h2><%= @room.title %></h2><br>
<hr>

<ziggeo ziggeo-video=<%= @room.video_url %>
          ziggeo-width=320
          ziggeo-height=240>
</ziggeo>



<p>
  <%= @room.borough %><br>
  <%= @room.neighborhood %><br>
  <%= @room.address %><br>
  <%= @room.description %><br>
  $ <%= @room.price %><br>
  <% if @room.pets_allowed == true %>
  Pets allowed: Yes
  <% else %>
  Pets allowed: No
  <% end %>
  <% if @room.available == true %><br>
  Room available: Yes
  <% else %>
  Room available: No
  <% end %>
</p>

<%= link_to 'Back', '/rooms' %>

</div>


