<!-- <div id="landing">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <h1 id="landing-logo" class="center-align">SeenicView</h1>
                <h5 id="landing-tagline" class="center-align">Use videos to find great roommates!</h5>
            </div>
        </div>
    </div>
</div> -->
<div id="landing-background">



<div id="headerbar" class="headerbar">
    <h2 class="center-align white-text"><%= image_tag("homeologo.svg", class:"homeo")%>   Homeo</h2>
    </div>
<body class="frontpage">
<div class="pic-space">
    </div>
        <div class="frontpage" id="midsection">
            <div class="row">
                <h4 class="center-align"><span class="white-text"><b>Meet your future roommates</b></span></h4>

                    <div class="usertype col s4">
                        <h5 class="center-align"><span class="white-text">Post A Room</span></h5>
                            <% if current_owner %>
                                <a href="../owners/<%= current_owner['id'] %>"><%= image_tag("owner.svg", id:"icon") %></a>
                            <% else %>
                                <a href="../owners/signup"><%= image_tag("owner.svg", id:"icon") %></a>
                            <% end %>
                    </div>
                    <div class="col s4 center-align white-text">
                        <h5 class="about-headers"><b>Have a spare room?</b></h5>
                        <p class="abouttext">Homeo makes recording and sharing videos of vacant rooms a piece of cake.<br>&larr;</p>
                        <h5 class="about-headers"><b>Need a new place to call home?</b></h5>
                        <p class="abouttext">Check out videos of available spaces and get to know your new roomates through video-driven profiles.<br>&rarr;</p>
                    </div>
                    <div class="usertype col s4">
                        <h5 class="center-align"><span class="white-text">Find A Room</span></h5>
                            <a href="/rooms"><%= image_tag("renter.svg", class:"center-align", id:"icon") %></a>
                    </div>
            </div>
        </div>



</div>

<!-- </body>
 -->
